<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article class="content centrovany">
    <header>
        <h1> Vítejte v evidenci pojištění! </h1>
    </header>
    <p>Tento projekt je vytvořen podle zadání na <a href="http://www.itnetwork.cz" target="_blank">itnetwork</a></p>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>