html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .content {
    flex: 1;
  }

  .footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  .centrovany {
    text-align: center;
  }
  .tlacitko {
    display: inline-block;
    background: #308dde;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    margin: 5px;
}
.tlacitko:hover {
    background-color: #45a049;
}
.odstranit {
    background: rgb(200, 14, 14);
}
.editovat {
    background: rgb(235, 166, 15);
}
article h1 {
    margin: 10px;
}
label {
    font-weight: bold;
}
.custom-menu {
    background-color: #333;
    height: 50px;
}
.navbar {
    line-height: 1;
    margin: 0;
    padding: 0;
}
body {
    margin-top: 0 !important;
}
.bg-body-tertiary {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
}
.navbar-brand,
.navbar-nav .nav-link
 {
    color: white !important;
}
.navbar-nav .nav-link:hover {
    color: black !important;
}

.avatar{
    width: 80px;
    height: 80px;
    border: 3px solid #080808;
    padding: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.odsadit {
    margin-left: 50px;
}
.text-uprostred {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.table td {
    height: 60px;
    vertical-align: middle;
}
.table th {
    vertical-align: middle;
    background-color: #333 !important;
    color: white !important;
    }
.centrovany-formular{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}
.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


@media (max-width: 991.98px) {
.navbar-collapse {
    background-color: rgb(41, 38, 38);
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
.toggle-button {
    background-color: white;
}
}
.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.message-success {
    background-color: #d4edda;
    color: #155724;
}

.message-error {
    background-color: #f8d7da;
    color: #721c24;
}
